@page
@model Asp_In_Action.Pages.CostControl.IndexModel
@{
    ViewData["Title"] = "CostControl";
}

<div>
    <div class="container-fluid">
        <div class="row justify-content-end">
            @*Accounts*@
            <div class="col-sm-3 text-center">
                <span class="h5">Accounts:</span>
                <a type="button" href="CostControl/Accounts/Add" class="btn btn-outline-primary btn-sm float-right mb-2"><b>+</b></a>
                <table class="table">
                    <tbody>
                        @for (int i = 0; i < @Model.Accounts.Count(); i++)
                        {
                            <tr>
                                <td>
                                    <div title=@Model.Accounts[i].Description>@Model.Accounts[i].Name:</div>
                                </td>
                                <td>
                                    <b>@Model.Accounts[i].Balance</b>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
        <hr class="border-primary" />
        <div class="row">
            @*Incomes*@
            <div class="col-sm-2 text-center border-right border-primary">
                <span class="h5">Incomes:</span>
                <table class="table">
                    <tbody>
                        @for (int i = 0; i < @Model.Incomes.Count(); i++)
                        {
                            <tr>
                                <td>
                                    <div title=@Model.Incomes[i].Description>@Model.Incomes[i].Name:</div>
                                </td>
                                <td>
                                    <b>---</b>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            @*Expenses*@
            <div class="col-sm-2 text-center border-right border-primary">
                <span class="h5">Expenses:</span>
                <table class="table">
                    <tbody>
                        @for (int i = 0; i < @Model.Expenses.Count(); i++)
                        {
                            <tr>
                                <td>
                                    <div title=@Model.Expenses[i].Description>@Model.Expenses[i].Name:</div>
                                </td>
                                <td>
                                    <b>---</b>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            @*Transactions*@
            <div class="col-sm-8 text-center ">
                <span class="h5">Transactions:</span>
                <table class="table">
                    <tbody>
                        <tr>
                            <td>
                                18.01.22
                            </td>
                            <td>
                                <span class="badge badge-danger">Expense</span>
                            </td>
                            <td>
                                Buy Tesla
                            </td>
                            <td>
                                40000$
                            </td>
                        </tr>
                        <tr>
                            <td>
                                15.01.22
                            </td>
                            <td>
                                <span class="badge badge-success">Income</span>
                            </td>
                            <td>
                                Buy Tesla
                            </td>
                            <td>
                                40000$
                            </td>
                        </tr>

                    </tbody>
                </table>
            </div>
        </div>

    </div>




</div>
