@page
@model Asp_In_Action.Pages.CostControl.IndexModel
@{
    ViewData["Title"] = "CostControl";
}

<div>
    <div class="container-fluid">
        <div class="row justify-content-end">
            <div class="col-sm-3 text-center">
                <span class="h5">Accounts:</span>
                <button type="button" class="btn btn-outline-primary btn-sm float-right mb-2"><b>+</b></button>
                <table class="table">
                    <tbody>
                        @for (int i = 0; i < @Model.CurrentUser.Accounts.Count(); i++)
                        {
                            <tr>
                                <td>
                                    @Model.CurrentUser.Accounts[i].Name:
                                </td>
                                <td>
                                    <b>@Model.CurrentUser.Accounts[i].Balance</b>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>

        <div class="border-bottom"></div>

        <div class="row">

        </div>

    </div>

    <br />
    <br />
    <br />
    <br />
    <form method="post" action="Add">
        <input name="text" autofocus placeholder="Input some text" />
        <input type="submit" value="post" />
    </form>

    @*<table class="table">
        <thead> Users:</thead>
        <tbody>
        <tr>
        <th>Id</th>
        <th>Name</th>
        </tr>

        @for (int i = 0; i < @Model.Users.Count; i++)
        {
        <tr>
        <td>
        @Model.Users[i].Id
        </td>
        <td>
        @Model.Users[i].Name
        </td>
        <td>
        @for (int j = 0; j < @Model.Users[i].Incomes.Count; j++)
        {
        if (j == 0)
        {
        @Model.Users[i].Incomes[j].Name
        } else
        {
        <tr>
        @Model.Users[i].Incomes[j].Name
        </tr>
        }
        }
        </td>
        </tr>
        }

        </tbody>
        </table>*@

</div>
