@page
@model Asp_In_Action.Pages.CostControl.IndexModel
@{
    ViewData["Title"] = "CostControl";
}

<div>
    <p class="p-md-1 h6 border float-left">
        Incomes: @Model.CurrentUser.Incomes.Count() 
        <ul class="list-group">
            @for (int i = 0; i < @Model.CurrentUser.Incomes.Count(); i++)
            {

                <li class="list-group-item">
                    @Model.CurrentUser.Incomes[i].Name : 
                    <b>@Model.CurrentUser.Incomes[i].Balance.ToString()</b>
                </li>
            }
        </ul>
    </p>


    <br />
    <br />
    <br />
    <br />
    <form method="post" action="Add">
        <input name="text" autofocus placeholder="Input some text" />
        <input type="submit" value="post" />
    </form>

    @*<table class="table">
        <thead> Users:</thead>
        <tbody>
        <tr>
        <th>Id</th>
        <th>Name</th>
        </tr>

        @for (int i = 0; i < @Model.Users.Count; i++)
        {
        <tr>
        <td>
        @Model.Users[i].Id
        </td>
        <td>
        @Model.Users[i].Name
        </td>
        <td>
        @for (int j = 0; j < @Model.Users[i].Incomes.Count; j++)
        {
        if (j == 0)
        {
        @Model.Users[i].Incomes[j].Name
        } else
        {
        <tr>
        @Model.Users[i].Incomes[j].Name
        </tr>
        }
        }
        </td>
        </tr>
        }

        </tbody>
        </table>*@

</div>
